/* src/App.css */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar_toggler {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 360px;
    /* height: 640px; */
    margin: auto;
}

.slide_in {
    animation: slideIn 3.8s ease-in-out; /* 애니메이션 지속 시간 및 타이밍 함수 설정 */
}

.modal_content {
    background-color: white;
    margin: 0 0 auto;
    width: 360px;
    flex-shrink: 0;

    /* border-radius: 5px; */
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.modal_close {
    background-color: transparent;
    border: none;
    margin: 20px 12px 20px;
    color: #333;
    cursor: pointer;
}

.modal_menu {
    list-style: none;
    padding: 0;
    margin: 0 0 50px;
}

.t {
    text-decoration: none;
    color: black;
    font-family: var(--title-medium-font);
    font-size: var(--title-medium-font-size);
    line-height: var(--title-medium-height);
    font-style: normal;
    font-weight: 700;
    margin: 0px 20px 20px 20px;
}

.header_navbar {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;

    /* color */
    border: 0.1px solid #fff; /* 선의 두께와 색상 설정 */
    background-color: #fff;
}

.header_margin {
    padding: 20px 0 20px 12px;
}

.header_navbar_line {
    width: 20px;
    height: 3px;
    flex-shrink: 0;
    background-color: #000;
}
