body {
    margin: 0;
    font-family: Pretendard, Happiness-Sans-Bold, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 360px;
    height: auto;
    /* border: 0.1px solid #83838385; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* position: fixed; */
    margin: auto;
    padding: 0;
    display: flex;
}

body,
html {
    box-sizing: inherit;
}

/* element.style {
  --100dvh: 692px;
} */
/* ?? 잘몰것음 ?? */

* {
    margin: 0;
    padding: 0;
}

* :after,
:before {
    box-sizing: inherit;
}

main {
    display: block;
}
/* Title_large 스타일 */
:root {
    --title-large-font: 'Happiness-Sans-Bold', sans-serif;
    --title-large-font-size: 32px;
    --title-large-line-height: 48px;
    /* Title_medium 스타일 */

    --title-medium-font: 'Happiness-Sans-Bold', sans-serif;
    --title-medium-font-size: 24px;
    --title-medium-line-height: 36px;
    /* Subtitle_Large 스타일 */

    --subtitle-large-font: 'Pretendard ExtraBold', sans-serif;
    --subtitle-large-font-size: 24px;
    --subtitle-large-line-height: 36px;
    /* Subtitle_Small 스타일 */

    --subtitle-small-font: 'Pretendard Bold', sans-serif;
    --subtitle-small-font-size: 16px;
    --subtitle-small-line-height: 24px;
    /* Subtitle_Caption 스타일 */
    --subtitle-caption-font: 'Pretendard Bold', sans-serif;
    --subtitle-caption-font-size: 12px;
    --subtitle-caption-line-height: 20px;
    /* color */
    --point-color: #9affb6;
    --Disabled-color: rgba(0, 0, 0, 0.15);
    --text-color: #0d51ff;
}
