.title {
    padding: 0 20px 20px;
    font-family: var(--title-large-font);
    font-size: var(--title-large-font-size);
    line-height: var(--title-large-line-height);
    font-weight: 700; /* 해당 스타일이 Bold인 경우에만 추가 */
}

.next_button {
    margin: 0 20px 20px;
    height: 24px;
    width: 80.4px;
    background-color: #fff;
    border: #fff; /* 선의 두께와 색상 설정 */
    display: flex;
    justify-content: left;
    align-items: center;

    /* font */
    font-family: var(--subtitle-small-font);
    font-size: var(--subtitle-small-font-size);
    line-height: var(--subtitle-small-font-height);
    font-weight: 700;
}

.next_step_text {
    color: rgba(0, 0, 0, 0.15);

    /* subtitle/small */
    font-family: var(--subtitle-small-font);
    font-size: var(--subtitle-small-font-size);
    line-height: var(--subtitle-small-font-height);
    font-weight: 700;
}

.next_step_text_black {
    color: rgb(0, 0, 0);

    /* subtitle/small */
    font-family: var(--subtitle-small-font);
    font-size: var(--subtitle-small-font-size);
    line-height: var(--subtitle-small-font-height);
}

.background_circle {
    display: flex;
    width: 272px;
    height: 272px;
    padding: 24px;
    margin: 20px 20px 80px;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: var(--point-color);
    align-self: stretch;
    /* subtitle/large */
    font-family: var(--subtitle-large-font);
    font-size: var(--subtitle-large-font-size);
    line-height: var(--subtitle-large-font-height);
    font-weight: 800;
}
.background_circle input {
    width: 152px;
    background-color: #ffffff00;
    border-top: #000000;
    border-right: #000000;
    border-left: #000000;
    font-family: var(--subtitle-large-font);
    font-size: var(--subtitle-large-font-size);
    line-height: var(--subtitle-large-font-height);
    font-weight: 800;
    outline: none;
    text-align: center;
}

.background_circle input:focus {
    color: var(--text-color);
}

/* 새로운 CSS 클래스 및 애니메이션 추가 */
@keyframes slideIn {
    from {
        transform: translateY(100%); /* 시작 위치: 아래에서 위로 숨겨진 상태 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 끝 위치: 화면 안으로 위로 이동 */
        opacity: 1;
    }
}

.slide_in {
    animation: slideIn 2.8s ease-in-out; /* 애니메이션 지속 시간 및 타이밍 함수 설정 */
}
