.title {
    padding: 0 20px 20px;
    font-family: var(--title-large-font);
    font-size: var(--title-large-font-size);
    line-height: var(--title-large-line-height);
    font-weight: 700; /* 해당 스타일이 Bold인 경우에만 추가 */
}
